{% extends 'base.html' %}

{% block content %}

<div class="content">
    <h2>Create Profile, so you can track all your lists and participate in others</h2>

            <form method="post">
                <fieldset>

                    <label for="name">Your Name</label>
                    <input name="username" type="text" placeholder="Your Name">


                    <label for="email">Your Email</label>
                    <input name="email" type="email" placeholder="Your Email">

                    <label for="password">Your Password</label>
                    <input name="password" type="password" placeholder="Your Password">

                    <input class="button-primary" type="submit" value="Create User">
                </fieldset>
            </form>
        </div>

        <div>
            <h4>Contact Us</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            </p>

            <h4>More Information</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
    </div>

</div>

{% endblock %}