{% extends 'base.html' %}

{% block content %}

<div class="content">
    <h2>You need profile to use system. If you have one - login</h2>

            <form method="post">
                <fieldset>

                    <label for="name">Your Name</label>
                    <input name="username" type="text" placeholder="Your Name">


                    <label for="email">Your Email</label>
                    <input name="email" type="email" placeholder="Your Email">

                    <label for="password">Your Password</label>
                    <input name="password" type="password" placeholder="Your Password">

                    <input class="button-primary" type="submit" value="Create User">
                </fieldset>
            </form>
    
   

        <div>
            <h5>Have troubles accessing the system? Contact us via support@email.com</h5>
        </div>

</div>

{% endblock %}