{% if not item.is_booked %}
    <span class="badge-green">Доступно для покупки!</span>
{% endif %}
            
<!-- case 1.1 when i want to change my mind -->
{% if item.is_booked and item.booked_by == current_user.id %}
<span class="badge-red">Повністю заброньовано вами</span>
{% endif %}
    
<!-- Case 2 - splitting -->
{% if not item.sharer_1 and not item.is_booked %}
<span class="badge-yellow">Доступно для спліта!</span>

{% endif %}

{% if item.sharer_1 and item.sharer_1 != current_user.id and not item.sharer_2 and not item.is_booked %}
<span class="badge-yellow">В спліті у іншого користувача!</span>

{% endif %}

<!-- Case 3 - unsplitting -->
{% if item.sharer_1 == current_user.id %}
<span class="badge-red">Ви ділити спліт</span>
{% endif %}

{% if item.sharer_2 == current_user.id %}
<span class="badge-red">Ви ділити спліт</span>
{% endif %}


  