{% extends 'base.html' %}

{% block content %}

<div class="content">
    <form method="post" action="/new">
        <fieldset>
            <div class="row">
                <div class="column column-75">
                    <label for="list_name">Назвіть вашу подію</label>
                    <input required type="text" required placeholder="День Народження" name="list_name" id="list_name">
                </div>

                <div class="column column-25">
                    <label for="deadline">Дата події</label>
                    <input type="date" required placeholder="Deadline" name="deadline" id="deadline">
                </div>
            </div>
            <textarea placeholder="Опис події" name="list_description" id="list_description"></textarea>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>


            <input class="button-primary" type="submit" value="Створити подію">
        </fieldset>
    </form>
</div>


{% endblock %}


 