{% extends 'base.html' %}

{% block content %}


<div class="content">
    <form method="post">
        <fieldset>
            <div class="row">
                <div class="column column-75">
                    <label for="list_name">Provide List Name</label>
                    <input type="text" placeholder="Name your list" name="list_name">
                </div>
                
                <div class="column column-25">
                    <label for="deadline">By when?</label>
                    <input type="date" placeholder="Deadline" name="deadline">
                </div>
                
            </div>
            <textarea placeholder="List Description" name="description"></textarea>

          <input class="button-primary" type="submit" value="Create a List">
        </fieldset>
      </form>


</div>


{% endblock %}