{% extends 'base.html' %}

<title>{% block title %}{{ title }}: {{ current_user.username }}{% endblock %}</title>

{% block content %}
  <h2>Привіт, {{ current_user.username }} | #{{ current_user.id }}</h2>
        <form action="/edit_dashboard" method="post">
          <fieldset>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              <div>
                  <label for="name">Імʼя в системі</label>
                  <input type="text" name='username' id="username" value="{{ current_user.username }}">
                 
              </div>
              <div>
                  <label for="email">Email</label>
                  <input type="email" name='email' id="email" value="{{ current_user.email }}">
              </div>

              <div>
                  <label for="about-me">Контактна інформація для звʼязки при спліті</label>
                  <textarea name="about-me" id="about-me" cols="30" rows="10" >{% if not current_user.about_me %}Додайте телефон, мессенджер або пошту 👉{% else %}{{ current_user.about_me }}{% endif %} 
                  </textarea>
              </div>
      
               <input type="submit" value="Змінити Деталі">
          </fieldset>
      </form>
      
    <p>* <i>Всі профілі публічні за замовчуванням</i></p>
      <hr>



  <div class="row">
    <div class="column">
      <h3>Ваші події:</h3>
    </div>

    <div class="column">
      <a class="button float-right" href="{{ url_for('new') }}">Створити нову подію</a>
    </div>

  </div>
  <hr>
  <div class="row">
    <div class="column column-20">
      <h4>Назва події</h4>
    </div>
    <div class="column column-20">
      <h4>Дата події</h4>
    </div>
    <div class="column column-offset-10">
      <h4>Дії</h4>
    </div>
  </div>
  
  {% for field in lists %}
  <div class="row">
    <div class="column column-25">
      <h5>{{ field.name }}</h5>
    </div>
    <div class="column column-20">
      <h5>{{ field.deadline }}</h5>
    </div>
    <div class="column column-offset-10">
      <a class="button" href="{{ url_for('list', id=field.id) }}">Подивитись</a>&nbsp;<a class="button" href="{{ url_for('edit', id=field.id) }}">Редагувати</a>&nbsp;<a class="button" href="{{ url_for('delete', id=field.id) }}">Видалити</a>
    </div>
  </div>
  {% endfor %}


{% if followed_lists %}
<div class="row">
  <div class="column">
    <h3>Ви слідкуєте за наступними подіями:</h3>
  </div>
</div>

<div class="row">
  <div class="column column-25">
    <h4>Назва події</h4>
  </div>
  <div class="column column-20">
    <h4>Дата події</h4>
  </div>
  <div class="column column-offset-10">
    <h4>Дії</h4>
  </div>
</div>

{% for field in followed_lists %}
<div class="row">
  <div class="column column-20">
    <h5>{{ field.name }}</h5>
  </div>
  <div class="column column-20">
    <h5>{{ field.deadline }}</h5>
  </div>
  <div class="column column-offset-10">
    <a class="button" href="{{ url_for('list', id=field.id) }}">Подивитись</a>
  </div>
</div>
{% endfor %}
{% endif %}


          
{% if booked_items %}
<div class="row">
  <div class="column">
    <h3>Ви забукали наступні подарунки:</h3>
  </div>
</div>

<div class="row">
  <div class="column column-25">
    <h4>Назва події</h4>
  </div>

  <div class="column column-offset-10">
    <h4>Дії</h4>
  </div>
</div>

{% for field in booked_items %}
<div class="row">
  <div class="column column-25">
    <h5>{{ field.item_name }}</h5>
  </div>

  <div class="column column-offset-10">
    <a class="button" href="{{ url_for('listitem', id=field.id) }}">Подивитись</a>
  </div>
</div>
{% endfor %}
{% endif %}
  


{% if shared_items %}
<h3>Ви ділити наступні подарунки:</h3>

<div class="row">
  <div class="column column-25">
    <h4>Назва події</h4>
  </div>

  <div class="column column-20">
    <h4>Подарунок</h4>
  </div>

  <div class="column column-25">
    <h4>З ким ви ділите</h4>
  </div>

  <div class="column column-offset-10">
    <h4>Дії</h4>
  </div>
</div>

{% for field in shared_items %}
<div class="row">
  <div class="column column-25">
    <h5>{{ field.list.name }}</h5>
  </div>

  <div class="column column-20">
    <h5>{{ field.item_name }}</h5>
  </div>

  <div class="column column-25">

        <h4>{{ field.sharer_1.username }}</h4>    
        <h4>{{ field.sharer_2.username }}</h4>


  </div>

  <div class="column column-offset-10">
    <a class="button" href="{{ url_for('listitem', id=field.id) }}">Подивитись</a>
  </div>
</div>
{% endfor %}
{% endif %}


    
             
{% endblock %}
