{% extends 'base.html' %}
<title>{% block title %}{{ title }}{% endblock %}</title>
{% block content %}


<div class="content">
    <form method="post" action="/edit_list">
        <fieldset>
            <div class="list-name">
                <div class="row">
                    <div class="column column-75">
                        <input type="hidden" name="list-id" value="{{ list.id }}">
                        <input type="text" value="{{ list.name }}" name="name">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    </div>
                    
                    <div class="column column-25">
                        <input type="date" value="{{ list.deadline}}" name="deadline">
                    </div>
                </div>
                <textarea name="description">{{ list.description }}</textarea>
                <input type="submit" value="Edit List">
            </div>

       </fieldset>
   </form>

   {% for item in list_items %}
    <form action="/update_list_item" method="post">
        <div class="list-item-added">
            <input type="hidden" name="item-id" value="{{ item.id }}">
            <input type="hidden" name="ref-id" value="{{ list.id }}">
            <input type="text" name="item-name" value="{{item.item_name}}">
            <textarea name="item-description">{{ item.item_description }}</textarea>
            <input type="text" name="item-link" value="{{item.url}}">
            <input type="text" name="item-price" value="{{item.price}}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="submit" value="Update">&nbsp;
            <a class="button" href="{{ url_for('delete_list_item', id=item.id) }}">Delete</a>
        </div>
    </form>
   {% endfor %}

<hr>

   <form action="/add_list_item" method="post">
    <div class="list-item">
        <input type="text" name="item-name" placeholder="List Item Name">
        <textarea name="item-description" placeholder="Item Description"></textarea>
        <input type="text" name="item-link" placeholder="Item Link">
        <input type="text" name="item-price" placeholder="Item Price">
        <input type="hidden" name="ref-id" value="{{ list.id }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    </div>

    <input class="button-primary" type="submit" value="Add Item">
</form>


    <script>
        function toggleButtons() {
            const editBtn = document.getElementById('editDetailsBtn');
            const saveBtn = document.getElementById('saveChangesBtn');

            if (editBtn.style.display !== 'none') {
                // If Edit button is visible, hide it and show Save Changes button
                editBtn.style.display = 'none';
                saveBtn.style.display = 'block';

                // Enable form elements and copy placeholder to value
                const formElements = document.getElementById('editForm').elements;
                for (let i = 0; i < formElements.length; i++) {
                    const placeholder = formElements[i].getAttribute('placeholder');
                    formElements[i].value = placeholder || ''; // Use placeholder or empty string
                    formElements[i].disabled = false;
                }
            } else {
                // If Save Changes button is visible, hide it and show Edit button
                editBtn.style.display = 'block';
                saveBtn.style.display = 'none';

                // Disable form elements
                const formElements = document.getElementById('editForm').elements;
                for (let i = 0; i < formElements.length; i++) {
                    formElements[i].disabled = true;
                }
            }
        }
    </script>


</div>

{% endblock %}