{% extends 'base.html' %}

{% block content %}


  <div class="row">
    <div class="jumbo">
        <div class="column column-80 column-offset-10">
                <h1>Leverage the power of your community</h1>
                <!-- <img src="{{ url_for('static', filename='img/hero.jpg') }}" alt="Hero Image"> -->
                <p>"Whishlist" is a local platform uniting communities to compile joint shopping lists for collective purchases. This fosters collaboration, enhances purchasing power, and supports local businesses. The goal is to strengthen community bonds through sustainable and cost-effective shopping.</p>
    
                <a class="button" href="{{ url_for('signup')}}">Create Profile to Start</a>
                <a class="button" href="{{ url_for('signin')}}">Login</a>

                
            </div>
        </div>
    </div>


  <div class="features">
      <div class="row">
        <div class="column column-25 column-offset-10">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, fugit minus pariatur sunt praesentium ipsum, voluptatem enim quam eius porro, placeat quo atque laborum dignissimos veniam nostrum consectetur sit corporis!
            </p>
        </div>
        <div class="column column-25">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, fugit minus pariatur sunt praesentium ipsum, voluptatem enim quam eius porro, placeat quo atque laborum dignissimos veniam nostrum consectetur sit corporis!
            </p>
        </div>
        <div class="column column-25">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, fugit minus pariatur sunt praesentium ipsum, voluptatem enim quam eius porro, placeat quo atque laborum dignissimos veniam nostrum consectetur sit corporis!
            </p>
        </div>
    
      </div>
  </div>


{% endblock %}