{% extends 'base.html' %}
<title>{% block title %}{{ title }}{% endblock %}</title>
{% block content %}


    <div class="jumbo">
        
                <h1>Wishlist - місце де можна поділитись з друзями бажаннями</h1>
                <p>Раніше ви збирали людей у різних чатах і ділились з ними ідеями подарунків. Але зараз ви можете це зробити через Wishlist.
                </p>
                
                {% if not current_user.is_authenticated %}
                <a class="button" href="{{ url_for('signup')}}">Створити профіль</a>
                <a class="button" href="{{ url_for('signin')}}">Увійти</a>
                {% endif %}
                
    </div>


  <div class="features">
      <div class="row">
        <div class="column column-33">
            <p>Зберіть свої бажання в одному місці, і ніколи їх більше не губіть.
            </p>
        </div>
        <div class="column column-33">
            <p>Обʼєднайте друзів із різних компаній навколо списку ваших бажань, щоб досягнути максимальної ефективності.
            </p>
        </div>
        <div class="column column-33">
            <p>Друзі зможуть купити, розділити або обговорити подарунок вам.
            </p>
        </div>
    
      </div>
  </div>


{% endblock %}