{% extends 'base.html' %}
<title>{% block title %}{{ title }}{% endblock %}</title>
{% block content %}

<div class="content">
    
    <h1>{{ list.name }}</h1>
    <p><b>Опис:</b> {{ list.description }}</p>

    <div class="row">
        <div class="column">
            <p><b>До коли:</b> {{ list.deadline}}</p>
        </div>
        
        <!-- Follow unfollow logic -->
        <div class="column">
            <form method="post" action="{{ url_for('toggle_follow') }}">
                <input type="hidden" name="list_id" value="{{ list.id }}">
                <button type="submit" class="button float-right">
                    {% if list in followed_lists %}
                        Перестати Слідкувати
                    {% else %}
                        Слідкувати
                    {% endif %}
                </button>
            </form>
        </div>
        
        
        
        

      </div>


    {% for item in list_items %}
    <form action="{{ url_for('book') }}" method="post">
        <div class="list-item{% if item.is_booked %}-booked{% endif %}">
            <!-- {% if item.is_booked %}
            <p>Хтось вже забронював цей товар за собою</p>
            {% endif %} -->
            <h3>{{item.item_name}}</h3>
            <p>{{ item.item_description }}</p>
            <p><b>Посилання:</b> {{item.url}}</p>
            <p><b>Ціна:</b> {{item.price}} грн.</p>
            <input type="hidden" name="item-id" value="{{ item.id }}">
            <input type="hidden" name="ref-id" value="{{ list.id }}">

            {% if not item.is_booked %}
                <button type="submit" class="button">Куплю це сам</button>
                <a class="button" href="#">Можу розділити</a>
            {% endif %}

            <a class="button" href="{{ url_for('comments', id=item.id) }}">Обговорення</a>
        </div>
    </form>
    {% endfor %}



</div>


{% endblock %}