{% extends 'base.html' %}
<title>{% block title %}{{ title }}{% endblock %}</title>
{% block content %}

<div class="content">
    
    <h1>{{ list.name }}</h1>
    <p><b>Опис:</b> {{ list.description }}</p>

    <div class="row">
        <div class="column">
            <p><b>До коли:</b> {{ list.deadline}}</p>
        </div>
        
        <!-- Follow unfollow logic -->
        {% if current_user.is_authenticated %}
        <div class="column">
            <form method="post" action="{{ url_for('toggle_follow') }}">
                <input type="hidden" name="list_id" value="{{ list.id }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <button type="submit" class="button float-right">
                    {% if list in followed_lists %}
                        Перестати Слідкувати
                    {% else %}
                        Слідкувати
                    {% endif %}
                </button>
            </form>
        </div>
        {% endif %}
    </div>


    {% for item in list_items %}
            {% include 'singlelistitem.html' %}
    {% endfor %}

</div>

<script>
    var csrfToken = document.getElementById('csrf_token').value;
</script>
{% endblock %}