{% extends 'base.html' %}
<title>{% block title %}{{ title }}{% endblock %}</title>
{% block content %}



<div class="content">
        <a class="button" href="{{ url_for('list', id=item.list_id) }}">Повернутись до списку</a>

        {% include 'singlelistitem.html' %}


    {% for comment in comments %}
        <div class="list-item">
            <p><b>{{ comment.author.username }} </b><i>залишив цей комментар о: </i>{{ comment.pub_date }}</p>
            <p>{{ comment.comment }}</p>
        </div>
    {% endfor %}

    <form action="{{ url_for('comment', id=item.id) }}" method="post">
        <div class="list-item">
            <textarea required name="comment" placeholder="Почніть обговорення" cols="30" rows="10"></textarea>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

            <input type="submit" value="Обговорення">
        </div>
    </form>



</div>

<script>
    var csrfToken = document.getElementById('csrf_token').value;
</script>

{% endblock %}