{% extends 'base.html' %}

<title>{% block title %}Profile {{ current_user.username }}{% endblock %}</title>

{% block content %}
{% if current_user.is_authenticated %}


    <div class="content">
        <h2>Your data in control: {{ current_user.username }} | #{{ current_user.id }}</h2>

        <form >
            <fieldset>
                <div>
                    <label for="aligned-name">Your Name</label>
                    <input type="text" id="aligned-name" disabled="" placeholder="current_user.username" />
                </div>
                <div>
                    <label for="aligned-email">Email</label>
                    <input type="email" id="aligned-email" disabled="" placeholder="current_user.email" />
                </div>
                <div>
                  <label for="aligned-pss">Password</label>
                  <input type="email" id="aligned-pss" disabled="" placeholder="******"/>
              </div>
    
                    <button type="submit">Change Details</button>
             
            </fieldset>
        </form>


    </div>
        
            <h3>My Lists:</h2>
            <table>
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Created on</th>
                    <th>Link</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>List Name</td>
                    <td>01/01/2023</td>
                    <td><a class="button" href="#">View</a></td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>List Name</td>
                    <td>01/01/2023</td>
                    <td><a class="button" href="#">View</a></td>
                  </tr>
                </tbody>
              </table>
             
   <hr>
     
            <h3>Following:</h2>
            <table>
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Created on</th>
                    <th>Link</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>List Name</td>
                    <td>01/01/2023</td>
                    <td><a class="button" href="#">View</a></td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>List Name</td>
                    <td>01/01/2023</td>
                    <td><a class="button" href="#">View</a></td>
                  </tr>
                </tbody>
              </table>
             




              {% endif %}
{% endblock %}
