{% extends 'base.html' %}

<title>{% block title %}Profile: {{ user.username }}{% endblock %}</title>

{% block content %}


    <div class="content">
        <h2>Profile: {{ user.username }} | #{{ user.id }}</h2>
        <div>
            <textarea name="about-me" id="about-me" cols="30" rows="10" disabled placeholder=" {{ user.about_me }}"></textarea>
        </div>
      <hr>

    </div>
        
            <h3>User Lists:</h2>
              <table>
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Deadline</th>
                    <th>Link</th>
                  </tr>
                </thead>
                <tbody>
                    {% for field in lists %}
                    <tr>
                      <td>{{ field.id }}</td>
                      <td>{{ field.name }}</td>
                      <td>{{ field.deadline }}</td>
                      <td><a class="button" href="{{ url_for('list', id=field.id) }}">View</a></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
             
   <hr>
     
{% endblock %}
